<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CREDENTIAL_MANAGER_SET_ALLOWED_PROVIDERS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Mimasu"
        android:supportsRtl="true"
        android:appCategory="video"
        android:allowAudioPlaybackCapture="false"
        android:enableOnBackInvokedCallback="true"
        android:name=".App"
        android:resizeableActivity="true"
        android:theme="@style/SplashScreenTheme">

        <activity android:name=".MainActivity"
            android:visibleToInstantApps="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="instantapps.clients.allowed"
            android:value="true" />

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="GNU GENERAL PUBLIC LICENSE Version 3" />
        
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge">

            <meta-data android:name="dev.datlag.mimasu.AppInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>