<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <queries>
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.netflix.ninja" />

        <package android:name="com.disney.disneyplus" />

        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.amazon.amazonvideo.livingroom" />

        <package android:name="dev.datlag.burningseries" />
        <package android:name="de.datlag.burningseries" />
        <package android:name="dev.datlag.mimasu.extension" />

        <package android:name="com.crunchyroll.crunchyroid" />

        <package android:name="com.cbs.ca" />
        <intent>
            <action android:name="dev.datlag.mimasu.core.IMimasuService" />
        </intent>
        <intent>
            <action android:name="dev.datlag.mimasu.core.update.IUpdateService" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Mimasu"
        android:supportsRtl="true"
        android:appCategory="video"
        android:allowAudioPlaybackCapture="false"
        android:enableOnBackInvokedCallback="true"
        android:name=".App"
        android:resizeableActivity="true"
        android:theme="@style/SplashScreenTheme">
        
        <activity android:name=".MainActivity"
            android:visibleToInstantApps="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:supportsPictureInPicture="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="dev.datlag.mimasu.other.CastOptionsProvider" />

        <meta-data
            android:name="instantapps.clients.allowed"
            android:value="true" />

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="GNU GENERAL PUBLIC LICENSE Version 3" />

        <receiver
            android:name="androidx.mediarouter.media.MediaTransferReceiver"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="dev.datlag.mimasu.other.RiveSafeInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>