<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="dev.datlag.mimasu.extension" />
        <intent>
            <action android:name="dev.datlag.mimasu.extension.IUpdateProvider" />
        </intent>
        <intent>
            <action android:name="dev.datlag.mimasu.extension.IMovieInfoProvider" />
        </intent>
        <intent>
            <action android:name="dev.datlag.mimasu.extension.IShowInfoProvider" />
        </intent>
    </queries>
</manifest>